body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0; /* Remove default margin */
  background-image: url('fotos/seunOfGod.png'); /* Replace with your image path */
  background-size: cover; /* Make the background image cover the entire screen */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  backdrop-filter: blur(5px);
}


.container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 900px;
  margin-top: 50px; /* Add some space to account for the ul at the top */
}

h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #e2002b;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.btn:hover {
  background-color: #aa0523;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

thead, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #e2002b;
    color: white;
}

h1 {
  text-align: center;
  color: #333;
}

.playerCell{
  border-right-style: solid;
}

.goalCell{
  border-left-style: solid;
  
}


.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #e2002b;
  overflow: hidden;
  position: absolute;
  top: 0; /* Stick the ul to the top */
  left: 0;
  display: flex;
}

.nav-list{
  float: left
}

.nav-list a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list a:hover {
  background-color: #aa0523;
  color: white;
}


.vertical-list {
  list-style-type: decimal; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  width: 200px;
}

.vertical-list li {
  padding: 10px;
  margin-bottom: 5px;
  text-align: left;
  
}

.button-container {
  display: flex;
  gap: 10px; /* Optional: to control spacing between buttons */
}


.center {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

